@charset "IBM866";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Droid";
  src: url('/css/fonts/droidserif-regular.ttf') format('truetype'), url('/css/fonts/droidserif-regular.woff') format('woff'), url('/css/fonts/droidserif-regular.svg') format('svg'), url('/css/fonts/droidserif-regular.eot') format('embedded-opentype');
}

/*ыхтюх ьхэ■ */
/* line 3, ../sass/_left-side.scss */
.left-side {
  width: 200px;
  float: left;
  margin-right: 15px;
  padding: 15px 0px 0px 13px;
}
/* line 11, ../sass/_left-side.scss */
.left-side ul a {
  color: black;
}
/* line 15, ../sass/_left-side.scss */
.left-side ul li {
  padding: 10px 0px 10px 0px;
  display: block;
  border: 1px solid #d2d0d0;
  margin-top: -1px;
}
/* line 21, ../sass/_left-side.scss */
.left-side ul li ul {
  display: none;
}
/* line 24, ../sass/_left-side.scss */
.left-side ul li ul li span {
  padding-left: 20px;
}
/* line 30, ../sass/_left-side.scss */
.left-side ul li span {
  display: block;
  padding: 0px 10px 0px 10px;
}
/* line 35, ../sass/_left-side.scss */
.left-side ul li:hover {
  background: #def8de;
  border: 1px solid #d2d0d0;
}
/* line 39, ../sass/_left-side.scss */
.left-side ul li.opened {
  padding-bottom: 0px;
}
/* line 44, ../sass/_left-side.scss */
.left-side ul li.opened ul li {
  border-top: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;
  border-left: none;
  border-right: none;
  background: url(../images/arrow-down.png) 178px 12px no-repeat #faf8ee;
}
/* line 52, ../sass/_left-side.scss */
.left-side ul li.opened ul li.last:hover {
  border-bottom: none;
}
/* line 56, ../sass/_left-side.scss */
.left-side ul li.opened ul li:hover {
  border: none;
  border-top: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;
  background: url(../images/white-arrow.png) 178px 12px #def8de no-repeat;
}
/* line 63, ../sass/_left-side.scss */
.left-side ul li.opened ul li.second {
  background: url(../images/arrow-down.png) 178px 12px no-repeat white;
}
/* line 67, ../sass/_left-side.scss */
.left-side ul li.opened ul li.second:hover {
  background: url(../images/white-arrow.png) 178px 12px #def8de no-repeat;
}
/* line 73, ../sass/_left-side.scss */
.left-side ul li.opened:hover {
  background: none;
  border: 1px solid #d2d0d0;
}
/* line 78, ../sass/_left-side.scss */
.left-side ul li.opened ul {
  margin-top: 10px;
  border: none;
  display: block;
}
/* line 84, ../sass/_left-side.scss */
.left-side ul li.second {
  background: url(../images/arrow-down.png) #f8f8f8 178px 12px no-repeat;
}
/* line 88, ../sass/_left-side.scss */
.left-side ul li.second:hover {
  background: url(../images/white-arrow.png) 178px 12px no-repeat #def8de;
  border: 1px solid #d2d0d0;
}
/* line 93, ../sass/_left-side.scss */
.left-side ul li.opened.second {
  background: url(../images/arrow-down-opened.png) 178px 12px no-repeat #f8f8f8;
}
/* line 97, ../sass/_left-side.scss */
.left-side ul li.opened .last {
  border-bottom: none;
}

/* line 2, ../sass/_main-menu.scss */
.main-menu-wrapper li.item-108 {
  padding-left: 30px;
  padding-right: 32px;
}

/* line 7, ../sass/_main-menu.scss */
.main-menu-wrapper {
  width: 1000px;
  position: relative;
  height: 132px;
}
/* line 12, ../sass/_main-menu.scss */
.main-menu-wrapper li {
  float: left;
  margin-left: 10px;
  background: #3b6675;
  padding: 10px 21px 10px 21px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
}
/* line 20, ../sass/_main-menu.scss */
.main-menu-wrapper li ul {
  display: none;
}
/* line 24, ../sass/_main-menu.scss */
.main-menu-wrapper li a {
  font-weight: bold;
  font: 11px "Droid";
}
/* line 30, ../sass/_main-menu.scss */
.main-menu-wrapper li.active {
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  border-top: 2px solid orange;
  background: white;
}
/* line 36, ../sass/_main-menu.scss */
.main-menu-wrapper li.active a {
  color: #2e5956;
}
/* line 41, ../sass/_main-menu.scss */
.main-menu-wrapper ul {
  bottom: -2px;
  position: absolute;
}
/* line 46, ../sass/_main-menu.scss */
.main-menu-wrapper ul.top {
  top: 0px;
  right: 0px;
}
/* line 50, ../sass/_main-menu.scss */
.main-menu-wrapper ul.top li {
  text-transform: lowercase;
}
/* line 54, ../sass/_main-menu.scss */
.main-menu-wrapper ul.top .vk {
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
}
/* line 59, ../sass/_main-menu.scss */
.main-menu-wrapper ul.top .facebook {
  padding: 10px 15px 10px 15px;
}
/* line 63, ../sass/_main-menu.scss */
.main-menu-wrapper ul.top .twitter {
  background: url(../images/twitter.png) 8px 7px #2e5956 no-repeat;
  background-color: #3b6675;
  text-indent: -2000px;
  overflow: hidden;
}
/* line 70, ../sass/_main-menu.scss */
.main-menu-wrapper ul.top .time {
  background: url(../images/clock.png) 8px 9px #2e5956 no-repeat;
  background-color: #3b6675;
  padding-left: 30px;
}
/* line 77, ../sass/_main-menu.scss */
.main-menu-wrapper .top li {
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -ms-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

/* line 82, ../sass/_main-menu.scss */
.lupa {
  background: url(../images/lupa.png) 7px 7px no-repeat #2e5956;
  background-color: #3b6675;
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  margin-top: 3px;
}

/* line 93, ../sass/_main-menu.scss */
.search-text {
  display: block;
  float: left;
  margin: 5px 10px 0px 0px;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  height: 25px;
  padding: 0px 10px 0px 10px;
}

/* line 103, ../sass/_main-menu.scss */
.search {
  position: absolute;
  right: 0px;
  top: 40px;
}

/*яЁртюх ьхэ■ */
/* line 3, ../sass/_right-side.scss */
.right-side {
  width: 200px;
  float: left;
  margin: 10px 0px 0px 15px;
}
/* line 8, ../sass/_right-side.scss */
.right-side .custom {
  border-left: 1px solid #d2d0d0;
  border-right: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;
}
/* line 16, ../sass/_right-side.scss */
.right-side ul li {
  padding: 0px 10px 0px 25px;
  background: url(../images/arrow-left.png) 10px 17px no-repeat;
  border-top: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;
  margin-top: -1px;
}
/* line 23, ../sass/_right-side.scss */
.right-side ul li .date {
  color: #267d26;
  font: 10px tahoma;
}
/* line 28, ../sass/_right-side.scss */
.right-side ul li .teams {
  color: black;
}
/* line 32, ../sass/_right-side.scss */
.right-side ul li .score {
  color: red;
}
/* line 37, ../sass/_right-side.scss */
.right-side ul li.active {
  background: url(../images/arrow-left-white.png) 10px 17px no-repeat #def8de;
}
/* line 41, ../sass/_right-side.scss */
.right-side ul li:hover {
  background: url(../images/arrow-left-white.png) 10px 17px no-repeat #def8de;
}
/* line 45, ../sass/_right-side.scss */
.right-side ul li.second {
  background: url(../images/arrow-left.png) 10px 17px no-repeat #f8f8f8;
}
/* line 49, ../sass/_right-side.scss */
.right-side ul li.second:hover {
  background: url(../images/arrow-left-white.png) 10px 17px no-repeat #def8de;
}
/* line 53, ../sass/_right-side.scss */
.right-side ul li.last {
  border-bottom: none;
}
/* line 60, ../sass/_right-side.scss */
.right-side ul.league li {
  padding: 5px;
  background: none;
  color: black;
}
/* line 66, ../sass/_right-side.scss */
.right-side ul.league li.second {
  background: #f8f8f8;
}
/* line 70, ../sass/_right-side.scss */
.right-side ul.league li:hover {
  background: #def8de;
}
/* line 75, ../sass/_right-side.scss */
.right-side .more {
  background: url(../images/pattern.jpg);
  position: relative;
  width: auto;
  height: auto;
  top: 0px;
  right: 0px;
  text-align: center;
  padding: 5px 0px 5px 0px;
}
/* line 86, ../sass/_right-side.scss */
.right-side .more-games {
  display: none;
}
/* line 90, ../sass/_right-side.scss */
.right-side .more-games.show {
  display: block;
}

/* ─хЄрыш ЇєЄсюы№эющ тёЄЁхўш*/
/* line 1, ../sass/_detail_football.scss */
.name-sport {
  background: #2e5956;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
  padding: 10px 20px 5px 30px;
  margin-top: 1px;
  color: white;
}

/* line 1, ../sass/_detail_football.scss */
.name-sport.football {
  background: url(../images/football.png) no-repeat 10px 10px #2e5956;
  background-color: #3b6675;
}

/* line 1, ../sass/_detail_football.scss */
.detail-tab.active {
  background: #3b6675;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin-top: 1px;
  color: white;
  text-align: center;
}

/* line 1, ../sass/_detail_football.scss */
.detail-head {
  background: #3b6675;
  padding: 10px 10px 10px 10px;
  color: white;
}

/* line 1, ../sass/_detail_football.scss */
.detail-tab {
  background: grey;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin-top: 1px;
  color: white;
  text-align: center;
  cursor: pointer;
  font: 11px "Droid";
}

/* line 1, ../sass/_detail_football.scss */
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* line 1, ../sass/_detail_football.scss */
.refresh {
  float: right;
  background: url(../images/refresh.png) 95px 7px no-repeat;
  height: 21px;
  padding: 9px 30px 0px 0px;
}

/* line 1, ../sass/_detail_football.scss */
.wrap-teams {
  border: 1px solid #D6D9DE;
}
/* line 1, ../sass/_detail_football.scss */
.wrap-teams .team2, .wrap-teams .team1 {
  width: 35%;
  float: left;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
/* line 1, ../sass/_detail_football.scss */
.wrap-teams .score {
  width: 30%;
  height: 143px;
  float: left;
  background: #F5F7F8;
  color: #3b6675;
}

/* line 1, ../sass/_detail_football.scss */
.football-sob td.splitter {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* line 1, ../sass/_detail_football.scss */
.yellow {
  background: #F8F1A3;
}

/* line 1, ../sass/_detail_football.scss */
.box-5 {
  padding: 10px;
  border: 1px solid #D6D9DE;
  margin: 10px 0px 10px 0px;
  line-height: 1.4;
}

/* line 1, ../sass/_detail_football.scss */
.green-text {
  color: green;
  font-weight: bold;
}

/* line 1, ../sass/_detail_football.scss */
table .team1 {
  width: 230px;
  text-align: left;
}
/* line 1, ../sass/_detail_football.scss */
table .team2 {
  width: 230px;
  text-align: right;
}
/* line 1, ../sass/_detail_football.scss */
table .score {
  width: 40px;
  text-align: center;
}

/* line 1, ../sass/_detail_football.scss */
.h1-score {
  color: grey;
  font-size: 45px;
  text-align: center;
  height: 70px;
  padding-top: 15px;
}

/* line 1, ../sass/_detail_football.scss */
.status {
  background: #DAF2CB;
  padding: 5px;
  color: grey;
  text-align: center;
  height: 16px;
}

/* line 1, ../sass/_detail_football.scss */
.minutes {
  width: 5%;
  text-align: center;
}

/* line 1, ../sass/_detail_football.scss */
.who {
  width: 40%;
  text-align: center;
}

/* line 1, ../sass/_detail_football.scss */
.nocells {
  width: 45%;
}

/* line 1, ../sass/_detail_football.scss */
.sobitie {
  width: 10%;
  background: #E6F2CB;
  text-align: center;
  height: 25px;
}

/* line 1, ../sass/_detail_football.scss */
.football-sob td {
  padding: 0px;
}

/* line 1, ../sass/_detail_football.scss */
.red-card {
  background: url(../images/football-status.png) 0px -40px;
  width: 40px;
  height: 20px;
  margin: 0 auto;
}

/* line 1, ../sass/_detail_football.scss */
.red-yellow-card {
  background: url(../images/football-status.png) 0px -80px;
  width: 40px;
  height: 20px;
  margin: 0 auto;
}

/* line 1, ../sass/_detail_football.scss */
.yellow-card {
  background: url(../images/football-status.png) 0px 0px;
  width: 40px;
  height: 20px;
  margin: 0 auto;
}

/* line 1, ../sass/_detail_football.scss */
.yellowcard {
  background: #faf4d6;
}

/* line 1, ../sass/_detail_football.scss */
.redcart {
  background: #ffeaea;
}

/* line 1, ../sass/_detail_football.scss */
.who.green.goal {
  background: url(../images/football-status.png) 0px -117px no-repeat #daf2cb;
}

/* line 1, ../sass/_detail_football.scss */
.who.own-goal {
  background: url(../images/football-status.png) 0px -157px no-repeat #ffeaea;
}

/* line 1, ../sass/_detail_football.scss */
.who.penalty {
  background: url(../images/football-status.png) 0px -197px no-repeat #daf2cb;
}

/* line 1, ../sass/_detail_football.scss */
.zamena {
  background: url(../images/football-status.png) 0px -278px;
  width: 40px;
  height: 20px;
  margin: 0 auto;
}

/* line 31, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/style.scss */
div {
  height: auto;
}

/* line 40, ../sass/style.scss */
body, html {
  margin: 0px;
  font: 12px tahoma;
  height: 100%;
  width: 100%;
}

/* line 48, ../sass/style.scss */
header {
  background: url(../images/fon.jpg);
  height: 132px;
  border-bottom: 2px solid orange;
  color: white;
}

/* line 55, ../sass/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 60, ../sass/style.scss */
a:hover {
  color: orange;
}

/* line 64, ../sass/style.scss */
table {
  width: 100%;
  border-collapse: collapse;
}

/* line 69, ../sass/style.scss */
.auto {
  margin: 0 auto;
}

/* line 73, ../sass/style.scss */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 79, ../sass/style.scss */
.name {
  font-size: 24px;
  padding: 20px 0px 0px 20px;
  color: orange;
}

/* line 85, ../sass/style.scss */
.slogan {
  margin-left: 20px;
}

/* line 89, ../sass/style.scss */
.middle-wrap {
  width: 1000px;
}

/* line 94, ../sass/style.scss */
.content {
  width: 772px;
  float: left;
  margin-top: 22px;
}

/* line 100, ../sass/style.scss */
.moduletable h3 {
  background: 170px 8px #2e5956 no-repeat;
  background-color: #3b6675;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
  font: 11px "Droid";
  color: white;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
}

/* line 113, ../sass/style.scss */
table .header {
  background: #2e5956;
  background-color: #3b6675;
  color: white;
}

/* line 119, ../sass/style.scss */
table .header td {
  border: 1px solid #3b6675;
}

/* line 123, ../sass/style.scss */
table td {
  padding: 10px;
  border: 1px solid #d2d0d0;
}

/* line 129, ../sass/style.scss */
table .add {
  width: 5px;
}

/* line 133, ../sass/style.scss */
table .clock {
  width: 25px;
  text-align: center;
}

/* line 138, ../sass/style.scss */
table .last-symbol {
  text-align: center;
}

/* line 142, ../sass/style.scss */
.add a {
  color: #2e5956;
}

/* line 146, ../sass/style.scss */
.add a:hover {
  color: orange;
}

/* line 150, ../sass/style.scss */
table .second td {
  background: #F8F8F8;
}

/* line 155, ../sass/style.scss */
.wrap-in-footer {
  width: 1000px;
}

/* line 159, ../sass/style.scss */
footer .main-menu li {
  float: left;
  text-transform: lowercase;
  margin-right: 5px;
}

/* line 165, ../sass/style.scss */
footer .main-menu li:after {
  content: " | ";
}

/* line 169, ../sass/style.scss */
footer .main-menu {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 790px;
}

/* line 175, ../sass/style.scss */
.pattern {
  background: url(../images/pattern.jpg) 0px 2px;
  position: relative;
}

/* line 180, ../sass/style.scss */
.white-line {
  height: 2px;
  width: 735px;
  background: white;
  position: absolute;
}

/* line 187, ../sass/style.scss */
.pattern-div {
  background: url(../images/pattern.jpg);
  height: 30px;
  border-left: 1px solid #D6D9DE;
  border-right: 1px solid #D6D9DE;
}

/* line 194, ../sass/style.scss */
.border-bottom {
  border-bottom: 1px solid #D6D9DE;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

/* line 200, ../sass/style.scss */
.green {
  background: #daf2cb;
}

/* line 204, ../sass/style.scss */
.grey {
  background: #F5F7F8;
}

/* line 208, ../sass/style.scss */
.margin-left-10 {
  margin-left: 10px;
}

/* line 212, ../sass/style.scss */
.opened .more {
  background: url(../images/arrow-down-opened.png) no-repeat;
  height: 10px;
  width: 12px;
}

/* line 218, ../sass/style.scss */
.more {
  background: url(../images/arrow-down.png) no-repeat;
  height: 12px;
  width: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* line 228, ../sass/style.scss */
.parent {
  position: relative;
}

/* line 232, ../sass/style.scss */
footer {
  background: #3b6675;
  border-top: 2px solid orange;
  color: white;
  height: 120px;
  padding-top: 10px;
}
