/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, H:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/style.scss */
div {
  height: auto;
}

/* line 15, ../sass/style.scss */
body, html {
  margin: 0px;
  font: 12px tahoma;
  height: 100%;
  width: 100%;
}

/* line 21, ../sass/style.scss */
header {
  background: url(../images/fon.jpg);
  height: 132px;
  border-bottom: 2px solid orange;
  color: white;
}

/* line 27, ../sass/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 31, ../sass/style.scss */
a:hover {
  color: orange;
}

/* line 34, ../sass/style.scss */
table {
  width: 100%;
  border-collapse: collapse;
}

/* line 38, ../sass/style.scss */
.auto {
  margin: 0 auto;
}

/* line 41, ../sass/style.scss */
.main-menu-wrapper {
  width: 1000px;
  position: relative;
  height: 132px;
}

/* line 46, ../sass/style.scss */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 51, ../sass/style.scss */
.main-menu-wrapper li {
  float: left;
  margin-left: 10px;
  /*
  background:#2e5956;
  */
  background: #3b6675;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
}

/* line 62, ../sass/style.scss */
.main-menu-wrapper li ul {
  display: none;
}

/* line 65, ../sass/style.scss */
.main-menu-wrapper ul {
  bottom: -2px;
  position: absolute;
}

/* line 69, ../sass/style.scss */
.main-menu-wrapper .top li {
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -ms-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

/* line 72, ../sass/style.scss */
.main-menu-wrapper ul.top {
  top: 0px;
  right: 0px;
}

/* line 76, ../sass/style.scss */
.main-menu-wrapper ul.top li {
  text-transform: lowercase;
}

/* line 79, ../sass/style.scss */
.main-menu-wrapper ul.top li.vk {
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
}

/* line 83, ../sass/style.scss */
.main-menu-wrapper ul.top li.facebook {
  padding: 10px 15px 10px 15px;
}

/* line 86, ../sass/style.scss */
.main-menu-wrapper li.active {
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  border-top: 2px solid orange;
  background: white;
}

/* line 92, ../sass/style.scss */
.main-menu-wrapper li.active a {
  color: #2e5956;
}

/* line 95, ../sass/style.scss */
.name {
  font-size: 24px;
  padding: 20px 0px 0px 20px;
  color: orange;
}

/* line 100, ../sass/style.scss */
.slogan {
  margin-left: 20px;
}

/* line 103, ../sass/style.scss */
.main-menu-wrapper li.twitter {
  background: url(../images/twitter.png) 8px 7px #2e5956 no-repeat;
  background-color: #3b6675;
  text-indent: -2000px;
  overflow: hidden;
}

/* line 109, ../sass/style.scss */
.main-menu-wrapper li.time {
  background: url(../images/clock.png) 8px 9px #2e5956 no-repeat;
  background-color: #3b6675;
  padding-left: 30px;
}

/* line 114, ../sass/style.scss */
.lupa {
  background: url(../images/lupa.png) 7px 7px no-repeat #2e5956;
  background-color: #3b6675;
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  margin-top: 3px;
}

/* line 124, ../sass/style.scss */
.search-text {
  display: block;
  float: left;
  margin: 5px 10px 0px 0px;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  height: 25px;
  padding: 0px 10px 0px 10px;
}

/* line 133, ../sass/style.scss */
.search {
  position: absolute;
  right: 0px;
  top: 40px;
}

/* line 138, ../sass/style.scss */
.middle-wrap {
  width: 1000px;
}

/* line 141, ../sass/style.scss */
.left-side {
  width: 200px;
  float: left;
  margin-right: 15px;
  padding-left: 13px;
}

/* line 147, ../sass/style.scss */
.right-side {
  width: 200px;
  float: left;
  margin-left: 15px;
}

/* line 152, ../sass/style.scss */
.content {
  width: 760px;
  float: left;
  margin-top: 10px;
}

/* line 157, ../sass/style.scss */
.moduletable h3 {
  background: 170px 8px #2e5956 no-repeat;
  background-color: #3b6675;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
}

/* line 168, ../sass/style.scss */
.left-side ul a {
  color: black;
}

/* line 171, ../sass/style.scss */
.left-side ul li {
  padding: 10px 0px 10px 0px;
  display: block;
  border: 1px solid #d2d0d0;
  margin-top: -1px;
}

/* line 177, ../sass/style.scss */
.left-side ul li:hover {
  background: #83D085;
  border: 1px solid #83D085;
}

/* line 181, ../sass/style.scss */
.left-side ul li.opened:hover {
  background: none;
  border: 1px solid #d2d0d0;
}

/* line 185, ../sass/style.scss */
.left-side ul li.opened {
  padding-bottom: 0px;
}

/* line 188, ../sass/style.scss */
.left-side ul li.opened ul {
  margin-top: 10px;
  border: none;
  display: block;
}

/* line 193, ../sass/style.scss */
.left-side ul li ul {
  display: none;
}

/* line 196, ../sass/style.scss */
.left-side ul li span {
  display: block;
  padding: 0px 10px 0px 10px;
}

/* line 200, ../sass/style.scss */
.left-side ul li ul li span {
  padding-left: 20px;
}

/* line 203, ../sass/style.scss */
.left-side ul li.opened ul li {
  border-top: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;
  border-left: none;
  border-right: none;
}

/* line 209, ../sass/style.scss */
.left-side ul li.second:hover {
  background: url(../images/white-arrow.png) 178px 12px no-repeat #83d085;
  border: 1px solid #83D085;
}

/* line 213, ../sass/style.scss */
.left-side ul li.second {
  background: url(../images/arrow-down.png) #f8f8f8 178px 12px no-repeat;
}

/* line 216, ../sass/style.scss */
.left-side ul li.opened.second {
  background: url(../images/arrow-down-opened.png) 178px 12px no-repeat #f8f8f8;
}

/* line 219, ../sass/style.scss */
table .header {
  background: #2e5956;
  background-color: #3b6675;
  color: white;
}

/* line 224, ../sass/style.scss */
table .header td {
  border: 1px solid #3b6675;
}

/* line 227, ../sass/style.scss */
table td {
  padding: 10px;
  border: 1px solid #d2d0d0;
}

/* line 231, ../sass/style.scss */
table .add {
  width: 5px;
}

/* line 234, ../sass/style.scss */
table .clock {
  width: 25px;
  text-align: center;
}

/* line 238, ../sass/style.scss */
table .team1 {
  width: 230px;
  text-align: left;
}

/* line 242, ../sass/style.scss */
table .team2 {
  width: 230px;
  text-align: right;
}

/* line 246, ../sass/style.scss */
table .score {
  width: 40px;
  text-align: center;
}

/* line 250, ../sass/style.scss */
table .last-symbol {
  text-align: center;
}

/* line 253, ../sass/style.scss */
.add a {
  color: #2e5956;
}

/* line 256, ../sass/style.scss */
.add a:hover {
  color: orange;
}

/* line 259, ../sass/style.scss */
table .second td {
  background: #F8F8F8;
}

/* line 262, ../sass/style.scss */
.name-sport {
  background: #2e5956;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
  padding: 10px 20px 5px 30px;
  margin-top: 1px;
  color: white;
}

/* line 270, ../sass/style.scss */
.name-sport.football {
  background: url(../images/football.png) no-repeat 10px 10px #2e5956;
  background-color: #3b6675;
}

/* line 274, ../sass/style.scss */
.detail-tab.active {
  background: #3b6675;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin-top: 1px;
  color: white;
  text-align: center;
}

/* line 283, ../sass/style.scss */
.detail-head {
  background: #3b6675;
  padding: 10px 10px 10px 10px;
  color: white;
}

/* line 288, ../sass/style.scss */
.detail-tab {
  background: grey;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin-top: 1px;
  color: white;
  text-align: center;
  cursor: pointer;
}

/* line 298, ../sass/style.scss */
footer {
  background: #2e5956;
  background-color: #3b6675;
  color: white;
  height: 120px;
  /*	margin-top:-130px;*/
  padding-top: 10px;
}

/* line 306, ../sass/style.scss */
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* line 311, ../sass/style.scss */
.refresh {
  float: right;
  background: url(../images/refresh.png) 95px 7px no-repeat;
  height: 21px;
  padding: 9px 30px 0px 0px;
}

/* line 317, ../sass/style.scss */
.wrap-in-footer {
  width: 1000px;
}

/* line 320, ../sass/style.scss */
footer .main-menu li {
  float: left;
  text-transform: lowercase;
  margin-right: 5px;
}

/* line 325, ../sass/style.scss */
footer .main-menu li:after {
  content: " | ";
}

/* line 328, ../sass/style.scss */
footer .main-menu {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 790px;
}

/* line 333, ../sass/style.scss */
.main-menu-wrapper li a {
  font-weight: bold;
}

/* line 336, ../sass/style.scss */
.pattern {
  background: url(../images/pattern.jpg) 0px 2px;
  position: relative;
}

/* line 340, ../sass/style.scss */
.white-line {
  height: 2px;
  width: 735px;
  background: white;
  position: absolute;
}

/* line 346, ../sass/style.scss */
.left-side ul li.opened .last {
  border-bottom: none;
}

/* line 349, ../sass/style.scss */
.wrap-teams .team1, .wrap-teams .team2 {
  width: 35%;
  float: left;
  text-align: center;
}

/* line 354, ../sass/style.scss */
.wrap-teams .score {
  width: 30%;
  height: 113px;
  float: left;
  background: #F5F7F8;
  color: #3b6675;
}

/* line 361, ../sass/style.scss */
.wrap-teams {
  border: 1px solid #D6D9DE;
}

/* line 364, ../sass/style.scss */
.pattern-div {
  background: url(../images/pattern.jpg);
  height: 30px;
  border-left: 1px solid #D6D9DE;
  border-right: 1px solid #D6D9DE;
}

/* line 370, ../sass/style.scss */
.border-bottom {
  border-bottom: 1px solid #D6D9DE;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

/* line 375, ../sass/style.scss */
.h1-score {
  color: grey;
  font-size: 45px;
  text-align: center;
  height: 50px;
}

/* line 381, ../sass/style.scss */
.status {
  background: #DAF2CB;
  padding: 5px;
  color: grey;
  text-align: center;
  height: 16px;
}

/* line 388, ../sass/style.scss */
.minutes {
  width: 5%;
  text-align: center;
}

/* line 392, ../sass/style.scss */
.who {
  width: 40%;
  text-align: center;
}

/* line 396, ../sass/style.scss */
.nocells {
  width: 45%;
}

/* line 399, ../sass/style.scss */
.sobitie {
  width: 10%;
  background: #E6F2CB;
  text-align: center;
  height: 25px;
}

/* line 405, ../sass/style.scss */
.football-sob td {
  padding: 0px;
}

/* line 408, ../sass/style.scss */
.red-card {
  background: url(../images/football-status.png) 0px -40px;
  width: 40px;
  height: 20px;
  margin: 0 auto;
  margin-top: -10px;
}

/* line 415, ../sass/style.scss */
.green {
  background: #DAF2CB;
}

/* line 418, ../sass/style.scss */
.grey {
  background: #F5F7F8;
}

/* line 421, ../sass/style.scss */
.football-sob td.splitter {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* line 426, ../sass/style.scss */
.yellow {
  background: #F8F1A3;
}

/* line 429, ../sass/style.scss */
.box-5 {
  padding: 10px;
  border: 1px solid #D6D9DE;
  margin: 10px 0px 10px 0px;
  line-height: 1.4;
}

/* line 435, ../sass/style.scss */
.green-text {
  color: green;
  font-weight: bold;
}

/* line 439, ../sass/style.scss */
.margin-left-10 {
  margin-left: 10px;
}

/* line 442, ../sass/style.scss */
.opened .more {
  background: url(../images/arrow-down-opened.png) no-repeat;
  height: 10px;
  width: 12px;
}

/* line 447, ../sass/style.scss */
.more {
  background: url(../images/arrow-down.png) no-repeat;
  height: 12px;
  width: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* line 456, ../sass/style.scss */
.parent {
  position: relative;
}
