/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
$maincolor:#3B6675;
$second-color:orange;
$normal-font:12px tahoma;
$border-color:#D2D0D0;
$light-green:#DEF8DE;
$light-orange:#FAF8EE;

@import "_left-side.scss";
@import "_main-menu.scss";

* {
	margin: 0;
	padding: 0;
}
div
{
	height:auto;
}
body, html
{
	margin:0px;
	font:$normal-font;
	height: 100%;
	width:100%;
}

header
{
	background:url(../images/fon.jpg);
	height:132px;
	border-bottom:2px solid $second-color;
	color:white;
}
a
{
	text-decoration:none;
	color:white;
}
a:hover
{
	color:$second-color;
}
table
{
	width:100%;
	border-collapse:collapse;
}
.auto
{
	margin:0 auto;
}
ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.name
{
	font-size:24px;
	padding:20px 0px 0px 20px;
	color:$second-color;
}
.slogan
{
	margin-left:20px;
}
.middle-wrap
{
	width:1000px;
}

.right-side
{
	width:200px;
	float:left;
	margin-left:15px;
}
.content
{
	width:772px;
	float:left;
	margin-top:22px;
}
.moduletable h3
{
	background:170px 8px #2e5956 no-repeat;
	background-color: $maincolor;
	padding:10px 20px 10px 20px;
	@include border-radius(4px 4px 0px 0px);
	text-transform:uppercase;
	font-size:12px;
	color:white;
	font-weight:normal;
	margin:10px 0px 0px 0px;
}

table .header
{
	background:#2e5956;
	background-color: $maincolor;
	color:white;
}
table .header td
{
	border:1px solid $maincolor;
}
table td
{
	padding:10px;
	border:1px solid $border-color;
	
}
table .add
{
	width:5px;
}
table .clock
{
	width:25px;
	text-align:center;
}
table .team1
{
	width:230px;
	text-align:left;
}
table .team2
{
	width:230px;
	text-align:right;
}
table .score
{
	width:40px;
	text-align:center;
}
table .last-symbol
{
	text-align:center;
}
.add a
{
	color:#2e5956;
}
.add a:hover
{
	color:$second-color;
}
table .second td
{
	background:#F8F8F8;
}
.name-sport
{
	background:#2e5956;
	@include border-radius(4px 4px 0px 0px);
	display:inline-block;
	padding:10px 20px 5px 30px;
	margin-top:1px;
	color:white;
}
.name-sport.football
{
	background: url(../images/football.png) no-repeat 10px 10px #2e5956;
	background-color: $maincolor;
}
.detail-tab.active
{
	background:$maincolor;
	@include border-radius(4px 4px 0px 0px);
	display:inline-block;
	padding:10px 10px 5px 10px;
	margin-top:1px;
	color:white;
	text-align:center;
}
.detail-head
{
	background:$maincolor;
	padding:10px 10px 10px 10px;
	color:white;
}
.detail-tab
{
	background:grey;
	@include border-radius(4px 4px 0px 0px);
	display:inline-block;
	padding:10px 10px 5px 10px;
	margin-top:1px;
	color:white;
	text-align:center;
	cursor:pointer;
}
footer
{
	background: $maincolor;
	border-top:2px solid $second-color;
	color: white;
	height: 120px;
/*	margin-top:-130px;*/
	padding-top:10px;
}
.main
{
	min-height:100%;
	height:auto !important;
	height:100%;
}
.refresh
{
	float:right;
	background: url(../images/refresh.png) 95px 7px no-repeat;
	height:21px;
	padding:9px 30px 0px 0px;
}
.wrap-in-footer
{
	width:1000px;
}
footer .main-menu li
{
	float:left;
	text-transform:lowercase;
	margin-right:5px;
}
footer .main-menu li:after
{
	content:" | ";
}
footer .main-menu
{
	padding-bottom:30px;
	margin:0 auto;
	width:790px;
}
.main-menu-wrapper li a
{
	font-weight:bold;
}
.pattern
{
	background:url(../images/pattern.jpg) 0px 2px;
	position:relative;
}
.white-line
{
	height:2px;
	width:735px;
	background:white;
	position:absolute;	
}
.wrap-teams .team1, .wrap-teams .team2
{
	width:35%;
	float:left;
	text-align:center;
}
.wrap-teams .score
{
	width:30%;
	height:113px;
	float:left;
	background: #F5F7F8;
	color: $maincolor;
}
.wrap-teams
{
	border:1px solid #D6D9DE;
}
.pattern-div
{
	background:url(../images/pattern.jpg);
	height:30px;
	border-left:1px solid #D6D9DE;
	border-right:1px solid #D6D9DE;
}
.border-bottom
{
	border-bottom:1px solid #D6D9DE;
	padding:10px 0px 10px 0px;
	text-align:center;
}
.h1-score
{
	color:grey;
	font-size:45px;
	text-align:center;
	height:50px;
}
.status
{
	background: #DAF2CB;
	padding:5px;
	color:grey;
	text-align:center;
	height:16px;
}
.minutes
{
	width:5%;
	text-align:center;
}
.who
{
	width:40%;
	text-align:center;
}
.nocells
{
	width:45%;
}
.sobitie
{
	width:10%;
	background:#E6F2CB;
	text-align:center;
	height:25px;
}
.football-sob td
{
	padding:0px;
}
.red-card
{
	background:url(../images/football-status.png) 0px -40px;
	width:40px;
	height:20px;
	margin:0 auto;
	margin-top:-10px;
}
.green
{
	background:#DAF2CB;
}
.grey
{
	background:#F5F7F8;
}
.football-sob td.splitter
{
	padding:5px;
	font-weight:bold;
	text-align:center;
}
.yellow
{
	background: #F8F1A3;
}
.box-5
{
	padding:10px;
	border:1px solid #D6D9DE;
	margin:10px 0px 10px 0px;
	line-height:1.4;
}
.green-text
{
	color:green;
	font-weight:bold;
}
.margin-left-10
{
	margin-left:10px;
}
.opened .more
{
	background:url(../images/arrow-down-opened.png) no-repeat;
	height:10px;
	width:12px;
}
.more 
{
	background:url(../images/arrow-down.png) no-repeat;
	height:12px;
	width:10px;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.parent
{
	position:relative;
}