/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/css3";
@import "compass/reset";
@import "compass/css3/border-radius";
@include font-face("Droid", font-files("droidserif-regular.ttf", "droidserif-regular.woff", "droidserif-regular.svg", "droidserif-regular.eot"));


$maincolor:#3B6675;
$second-color:orange;
$normal-font:12px tahoma;
$small-font:10px tahoma;
$second-font:11px "Droid";
$border-color:#D2D0D0;
$light-green:#DEF8DE;
$dark-green:#267D26;
$light-orange:#FAF8EE;
$light-red:#FFEAEA;
$light-yellow:#FAF4D6;
$light-grass-green:#DAF2CB;
$light-grey:#F8F8F8;
$font-color:black;
@import "_left-side.scss";
@import "_main-menu.scss";
@import "_right-side.scss";
@import "_detail_football.scss";

* 
{
	margin: 0;
	padding: 0;
}
div
{
	height:auto;
}
body, html
{
	margin:0px;
	font:$normal-font;
	height: 100%;
	width:100%;
}

header
{
	background:url(../images/fon.jpg);
	height:132px;
	border-bottom:2px solid $second-color;
	color:white;
}
a
{
	text-decoration:none;
	color:white;
}
a:hover
{
	color:$second-color;
}
table
{
	width:100%;
	border-collapse:collapse;
}
.auto
{
	margin:0 auto;
}
ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.name
{
	font-size:24px;
	padding:20px 0px 0px 20px;
	color:$second-color;
}
.slogan
{
	margin-left:20px;
}
.middle-wrap
{
	width:1000px;
}

.content
{
	width:772px;
	float:left;
	margin-top:22px;
}
.moduletable h3
{
	background:170px 8px #2e5956 no-repeat;
	background-color: $maincolor;
	padding:10px 20px 10px 20px;
	@include border-radius(4px 4px 0px 0px);
	text-transform:uppercase;
	font:$second-font;
	color:white;
	font-weight:normal;
	margin:10px 0px 0px 0px;
}

table .header
{
	background:#2e5956;
	background-color: $maincolor;
	color:white;
}
table .header td
{
	border:1px solid $maincolor;
}
table td
{
	padding:10px;
	border:1px solid $border-color;
	
}
table .add
{
	width:5px;
}
table .clock
{
	width:25px;
	text-align:center;
}
table .last-symbol
{
	text-align:center;
}
.add a
{
	color:#2e5956;
}
.add a:hover
{
	color:$second-color;
}
table .second td
{
	background:#F8F8F8;
}

.wrap-in-footer
{
	width:1000px;
}
footer .main-menu li
{
	float:left;
	text-transform:lowercase;
	margin-right:5px;
}
footer .main-menu li:after
{
	content:" | ";
}
footer .main-menu
{
	padding-bottom:30px;
	margin:0 auto;
	width:790px;
}
.pattern
{
	background:url(../images/pattern.jpg) 0px 2px;
	position:relative;
}
.white-line
{
	height:2px;
	width:735px;
	background:white;
	position:absolute;	
}
.pattern-div
{
	background:url(../images/pattern.jpg);
	height:30px;
	border-left:1px solid #D6D9DE;
	border-right:1px solid #D6D9DE;
}
.border-bottom
{
	border-bottom:1px solid #D6D9DE;
	padding:10px 0px 10px 0px;
	text-align:center;
}
.green
{
	background:$light-grass-green;
}
.grey
{
	background:#F5F7F8;
}
.margin-left-10
{
	margin-left:10px;
}
.opened .more
{
	background:url(../images/arrow-down-opened.png) no-repeat;
	height:10px;
	width:12px;
}
.more 
{
	background:url(../images/arrow-down.png) no-repeat;
	height:12px;
	width:10px;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.parent
{
	position:relative;
}
footer
{
	background: $maincolor;
	border-top:2px solid $second-color;
	color: white;
	height: 120px;
	padding-top:10px;
}