!!! 1.1
%html{:lang => "ru", "xml:lang" => "ru", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Футбол
    %meta{:content => "text/html; charset=utf-8", 'http-equiv' => "content-type"}/
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if IE]
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", :type => "text/javascript"}
    :javascript
      jQuery(function($){
      	$('.left-side ul li.parent .more').click(function(event){
      		event.preventDefault();
      		$(this).parent().toggleClass('opened');
      	});
      	$('.more').click(function(){
      		$('.more-games').toggleClass('show');
      	})
        $('.tabs').hide();
        $('.detail-tab').each(function(){       
            if ($(this).hasClass('active')) 
            {
                $($(this).attr('tab')).show();
            }
        $('.detail-tab').click(function(){
            $('.tabs').hide();
            $('.detail-tab').removeClass('active');
            $($(this).attr('tab')).show();
            $(this).addClass('active');
        })
        });        
      });
  %body
    .main
      %header
        .main-menu-wrapper.auto
          %a{:href => "/"}
            .name Rezultaty.net
          .slogan All in one
          %ul.top
            %a{:href => "/"}
              %li.twitter twitter
            %a{:href => "/"}
              %li.facebook f
            %a{:href => "/"}
              %li.vk B
            %a{:href => "/"}
              %li мои игры [0]
            %a{:href => "/"}
              %li.time 17:55
            %a{:href => "/"}
              %li Войти
          .search
            %input.search-text{:type => "text"}/
            .lupa
          %ul.nav.menu
            %li.item-101.current.active
              %a.soccer{:href => "/"} Футбол
            %li.item-102
              %a.tennis{:href => "/index.php/tennis"} Теннис
            %li.item-103
              %a.basketball{:href => "/index.php?Itemid=103"} Баскетбол
            %li.item-104
              %a.hockey{:href => "/index.php?Itemid=104"} Хоккей
            %li.item-105
              %a.baseball{:href => "/index.php?Itemid=105"} Бейсбол
            %li.item-106
              %a.american-football{:href => "/index.php?Itemid=106"} Ам. Футбол
            %li.item-107
              %a.handball{:href => "/index.php?Itemid=107"} Гандбол
            %li.item-128
              %a{:href => "/index.php?Itemid=128"} Волейбол
            %li.item-108.deeper.parent
              %a.other{:href => "/index.php?Itemid=108"} Другие
              %ul.nav-child.unstyled.small
                %li.item-109
                  %a.volleyball{:href => "/index.php?Itemid=109"} Волейбол
                %li.item-110
                  %a.rugby-union{:href => "/index.php?Itemid=110"} Регби-юнион
                %li.item-111
                  %a.cricket{:href => "/index.php?Itemid=111"} Крикет
      .middle-wrap.auto
        .left-side
          .moduletable
            %h3 О команде подробнее
            .custom
              .team-img
                %img{:src => "images/m-boleslav-10180.png"}
                .team-name M Boleslav
              %ul.team-info
                %li Last match lost 0 - 4 against Teplice (view M Boleslav - Teplice details)
                %li Results in last 10 matches: won 1 matches, drawn 4 matches and lost 5 matches
                %li Scored 16 goals and conceded 26 goals in last 10 matches
                %li More than 2.5 goals have been scored in 7 of last 10 matches
                %li.last Have scored in 8 of last 10 matches 
        .content
          .item-page
            .btn-group.pull-right
              .pattern
                .white-line  
                .detail-tab.active{:tab => '#tab-1'} Прошедшие матчи
                .detail-tab{:tab => '#tab-2'} Будущие матчи
                .refresh auto refresh 10s
              %div#tab-1.tabs
                .detail-head Japan - J. League
                %table{:cellpadding => "0", :cellspacing => "0"}
                  %tbody
                    %tr
                      %td.add
                        %a{:href => "http://rezultaty.net/"} +
                      %td.clock 12:00
                      %td  
                      %td.team1 Cerezo Osako
                      %td.score 0 - 0
                      %td.team2 Nagoya Grampus Eight
                      %td.last-symbol -
                    %tr.second
                      %td.add
                        %a{:href => "http://rezultaty.net/"} +
                      %td.clock 12:00
                      %td  
                      %td.team1 Cerezo Osako
                      %td.score 0 - 0
                      %td.team2 Nagoya Grampus Eight
                      %td.last-symbol -
                    %tr
                      %td.add
                        %a{:href => "http://rezultaty.net/"} +
                      %td.clock 12:00
                      %td  
                      %td.team1 Cerezo Osako
                      %td.score 0 - 0
                      %td.team2 Nagoya Grampus Eight
                      %td.last-symbol -
              %div#tab-2.tabs
                .detail-head China - J. League
                %table{:cellpadding => "0", :cellspacing => "0"}
                  %tbody
                    %tr
                      %td.add
                        %a{:href => "http://rezultaty.net/"} +
                      %td.clock 12:00
                      %td  
                      %td.team1 Cerezo Osako
                      %td.score 0 - 0
                      %td.team2 Nagoya Grampus Eight
                      %td.last-symbol -
                    %tr.second
                      %td.add
                        %a{:href => "http://rezultaty.net/"} +
                      %td.clock 12:00
                      %td  
                      %td.team1 Cerezo Osako
                      %td.score 0 - 0
                      %td.team2 Nagoya Grampus Eight
                      %td.last-symbol -
                    %tr
                      %td.add
                        %a{:href => "http://rezultaty.net/"} +
                      %td.clock 12:00
                      %td  
                      %td.team1 Cerezo Osako
                      %td.score 0 - 0
                      %td.team2 Nagoya Grampus Eight
                      %td.last-symbol -
        %div{:style => "clear:both;"}
    %footer
      .wrap-in-footer.auto
        %ul.nav.menu2.main-menu
          %li.item-112.active
            %a.first{:href => "/"} Футбол
          %li.item-113
            %a{:href => "/index.php/tennis"} ТЕННИС
          %li.item-114
            %a{:href => "/index.php?Itemid=112"} БАСКЕТБОЛ
          %li.item-115
            %a{:href => "/index.php?Itemid=112"} ХОККЕЙ
          %li.item-116
            %a{:href => "/index.php?Itemid=112"} БЕЙСБОЛ
          %li.item-117
            %a{:href => "/index.php?Itemid=112"} АМЕРИКАНСКИЙ ФУТБОЛ
          %li.item-118
            %a{:href => "/index.php?Itemid=112"} ГАНДБОЛ
          %li.item-119
            %a{:href => "/index.php?Itemid=112"} ВОЛЕЙБОЛ
          %li.item-120
            %a{:href => "/index.php?Itemid=110"} РЕГБИ-ЮНИОН
          %li.item-121
            %a{:href => "/index.php?Itemid=111"} КРИКЕТ
          %li.item-122
            %a{:href => "/index.php?Itemid=122"} LIVESCORE
        %div{:style => "clear:both;"}
        %div
          Our football livescore have live coverage from 559 worldwide soccer leagues, cups and tournaments with live updated
          results, statistics, league tables and fixtures. Matches from all leagues have fast and accurate updates for minutes and scores, scorer
          and assist, cards, substitutions, match statistics and many more. Live commentaries are available only for most popular football leagues:
          England Barclay's EPL Premier League and FA Cup, Spain BBVA league, Copa del Rey and live Barcelona Real Madrid El Clasico match,
          Italy Serie A and Coppa Italia, German Bundesliga and DFB pokal, France Ligue 1, Denmark Superligaen, Turkey Turkcell Super Lig and
          UEFA Champions League. You can filter live, finished or scheduled matches, and in live "Bet365 odds" tab you can find dropping / rising odds
          which could help you to predict match winner.